<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518843925041-1a1j9spd117871do38d23vvakt2auda8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518843925041-1a1j9spd117871do38d23vvakt2auda8</string>
	<key>API_KEY</key>
	<string>AIzaSyBDljZ3PGmPV1yJ0IqHsVF4luvAOxEUW1o</string>
	<key>GCM_SENDER_ID</key>
	<string>518843925041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zacjohnson.Boost-ctRL</string>
	<key>PROJECT_ID</key>
	<string>boost-ctrl</string>
	<key>STORAGE_BUCKET</key>
	<string>boost-ctrl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518843925041:ios:67e0490440d050ac</string>
	<key>DATABASE_URL</key>
	<string>https://boost-ctrl.firebaseio.com</string>
</dict>
</plist>