<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Bee Dees</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bee Dees</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Beehive</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Beehive</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Casper</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Casper</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Envious</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Envious</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>EU eU</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>EU eU</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Except</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Except</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>eTogether</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>eTogether</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Final Destination</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Final Destination</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>First Dynasty</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>First Dynasty</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Generally Energetic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Generally Energetic</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Gentleman</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gentleman</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Gigantes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gigantes</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Ibex</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ibex</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Korp</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Korp</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Lion</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Lion</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Messi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Messi</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Misspelled</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Misspelled</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Phase</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Phase</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Purple1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple1</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Samurai</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Samurai</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Single</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Single</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>So Kool</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>So Kool</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Solid Gas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Solid Gas</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Sonic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Sonic</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Uprising</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Uprising</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Zeros</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Zeros</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Astronaut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Astronaut</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Energy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Energy</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string></string>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>ddgQuickLink</string>
		<string>firefox</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
