<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BDS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BDS</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Vitality</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Vitality</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Ghost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ghost</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Envy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Envy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Guild</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Guild</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Xset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Xset</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>eUnited</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>eUnited</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Endpoint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Endpoint</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dignitas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dignitas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>NRG (The General)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NRG (The General)</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SMPR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SMPR</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Giants</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Giants</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Ibex</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ibex</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Karmine</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Karmine</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Knights</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Knights</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>FC Barcelona</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FC Barcelona</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rogue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rogue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Faze</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Faze</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Version1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Version1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>G2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>G2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Singularity</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Singularity</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SK</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Liquid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Liquid</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Soniqs</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Soniqs</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rebellion</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rebellion</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Ground Zero</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ground Zero</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Spacestation</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Spacestation</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>NRG</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NRG</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string></string>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>ddgQuickLink</string>
		<string>firefox</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
